{eyou:include file="global_head_styles.htm" /}
{eyou:include file="css_media_loader.htm" /}
<script>wgnLoadMediaCss("/template/pc/skin/wogaosuni/style/detail-common-head-bundle-desktop-lean.min.css?v=20260629desktop1", "screen and (min-width: 961px)");</script>
<noscript><link href="/template/pc/skin/wogaosuni/style/detail-common-head-bundle-desktop-lean.min.css?v=20260629desktop1" rel="stylesheet" media="screen and (min-width: 961px)" type="text/css" /></noscript>
<script>wgnLoadMediaCss("/template/pc/skin/wogaosuni/style/detail-common-head-bundle-mobile-lean.min.css?v=20260629mobile1", "screen and (max-width: 960px)");</script>
<noscript><link href="/template/pc/skin/wogaosuni/style/detail-common-head-bundle-mobile-lean.min.css?v=20260629mobile1" rel="stylesheet" media="screen and (max-width: 960px)" type="text/css" /></noscript>
<script>wgnLoadMediaCss("/template/pc/skin/wogaosuni/style/mobile-core-module.min.css", "screen and (max-width: 960px)");</script>
<noscript><link href="/template/pc/skin/wogaosuni/style/mobile-core-module.min.css" rel="stylesheet" media="screen and (max-width: 960px)" type="text/css" /></noscript>
<script>wgnLoadMediaCss("/template/pc/skin/wogaosuni/style/mobile-detail-module.min.css", "screen and (max-width: 960px)");</script>
<noscript><link href="/template/pc/skin/wogaosuni/style/mobile-detail-module.min.css" rel="stylesheet" media="screen and (max-width: 960px)" type="text/css" /></noscript>
<script>wgnLoadMediaCss("/template/pc/skin/wogaosuni/style/detail-article-pre-reader-bundle-desktop-slim.min.css?v=20260629desktop1", "screen and (min-width: 961px)");</script>
<noscript><link href="/template/pc/skin/wogaosuni/style/detail-article-pre-reader-bundle-desktop-slim.min.css?v=20260629desktop1" rel="stylesheet" media="screen and (min-width: 961px)" type="text/css" /></noscript>
<script>wgnLoadMediaCss("/template/pc/skin/wogaosuni/style/detail-article-pre-reader-bundle-mobile-slim.min.css?v=20260629mobile1", "screen and (max-width: 960px)");</script>
<noscript><link href="/template/pc/skin/wogaosuni/style/detail-article-pre-reader-bundle-mobile-slim.min.css?v=20260629mobile1" rel="stylesheet" media="screen and (max-width: 960px)" type="text/css" /></noscript>
<script>wgnLoadMediaCss("/template/pc/skin/wogaosuni/style/detail-article-reader-bundle-desktop-slim.min.css?v=20260629desktop1", "screen and (min-width: 961px)");</script>
<noscript><link href="/template/pc/skin/wogaosuni/style/detail-article-reader-bundle-desktop-slim.min.css?v=20260629desktop1" rel="stylesheet" media="screen and (min-width: 961px)" type="text/css" /></noscript>
<script>wgnLoadMediaCss("/template/pc/skin/wogaosuni/style/detail-article-reader-bundle-mobile-slim.min.css?v=20260629mobile1", "screen and (max-width: 960px)");</script>
<noscript><link href="/template/pc/skin/wogaosuni/style/detail-article-reader-bundle-mobile-slim.min.css?v=20260629mobile1" rel="stylesheet" media="screen and (max-width: 960px)" type="text/css" /></noscript>
<script>wgnLoadMediaCss("/template/pc/skin/wogaosuni/style/article-mobile-fit.min.css", "screen and (max-width: 960px)");</script>
<noscript><link href="/template/pc/skin/wogaosuni/style/article-mobile-fit.min.css" rel="stylesheet" media="screen and (max-width: 960px)" type="text/css" /></noscript>
<script>wgnLoadMediaCss("/template/pc/skin/wogaosuni/style/header-mobile-topbar.min.css", "screen and (max-width: 960px)");</script>
<noscript><link href="/template/pc/skin/wogaosuni/style/header-mobile-topbar.min.css" rel="stylesheet" media="screen and (max-width: 960px)" type="text/css" /></noscript>
<script>wgnLoadMediaCss("/template/pc/skin/wogaosuni/style/header-mobile-search-sheet.min.css", "screen and (max-width: 1320px)");</script>
<noscript><link href="/template/pc/skin/wogaosuni/style/header-mobile-search-sheet.min.css" rel="stylesheet" media="screen and (max-width: 1320px)" type="text/css" /></noscript>
{eyou:static file="skin/wogaosuni/style/page-detail-inline.min.css" /}
<link href="/template/pc/skin/wogaosuni/style/detail-card-unified.css?v=20260630cards5" rel="stylesheet" type="text/css" />
